{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Saison {{ season.number }}</h1>
    <h2>{{ season.description }}</h2>

    <h3>Episodes</h3>
    <ul>
        {% for episode in season.episodes %}
        <a href="{{ path('program_episode_show', {programId: season.program.id, seasonId: season.id, episodeId: episode.id}) }}">
            <li>
                Episode {{ episode.number }} - {{ episode.title }}
            </li></a>
        {% else %}
            <li>Aucun épisode pour cette saison</li>
        {% endfor %}
    </ul>

    <a href="{{ path('program_show', {id: season.program.id}) }}">
        Retour à la fiche de la série
    </a>
{% endblock %}