{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
	<h1>Toutes les séries : </h1>
	<div class="container">
	<div class="row">
	{% for program in programs %}
	<div class="col-lg-3">
	<div class="card h-100 d-flex flex-column">
  <img src="https://fakeimg.pl/350x200/?text={{ program.title }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ program.title }}</h5>
	<h6>Catégorie : {{ program.category.name }}</h6>
    <p class="card-text">{{ program.synopsis }}</p>
    <a href="{{ path("program_show", { id: program.id }) }}" class="btn btn-primary">En savoir plus</a>
  </div>
</div>
</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}
	</div>
	</div>

	<a href="/">
		Retour à l'accueil
	</a>
{% endblock %}