{% extends 'base.html.twig' %}

{% block title %}Saisons - {{ season.program.title }}{% endblock %}

{% block body %}
    <h1>{{ season.program.title }} - Saison {{ season.number }}</h1>

    <h2>Tous les épisodes :</h2>
    <ul>
        {% for episode in season.episodes %}
            <li>
                <a href="{{ path('program_episode_show', {programId: season.program.id, seasonId: season.id, episodeId: episode.id}) }}">
                    Episode {{ episode.number }} : {{ episode.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('program_show', { 'id': season.program.id }) }}">
        Retour à la fiche de la série
    </a>
{% endblock %}