{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   	<div class="media">
		<img class="align-self-start m-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<h1 class="m-3">{{ program.title }}</h1>
			<p>Résumé : {{ program.synopsis }}</p>
			<p>Catégorie : {{ program.category.name }}</p>
			<p>Pays : {{ program.country }}</p>
			<p>Année : {{ program.year }}</p>
	</div>

		<h2 class="mt-5">Saisons</h2>
	<ul>
		{% for season in program.seasons %}
			<li>
				<a href="{{ path('season_show', {id: season.id}) }}">
					Saison {{ season.number }}
				</a>
			</li>
		{% else %}
			<li>Aucune saison pour cette série</li>
		{% endfor %}
	</ul>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}