{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   	<div class="media">
		<img class="align-self-start m-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<h1 class="m-3">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie : {{ program.category.name }}</p>
	</div>

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}